{% extends 'base.html' %}
{% block content %}
    <article class="container">
        <div class="row">
            <div class="col-12">
                <h2>{{ category.name }}</h2>
                <div class="row">
                    {% for product in products_of_category %}
                        <div class="col-4">
                            <img src="{{ product.image.url }}" alt="">
                        </div>
                    {% endfor %}
                </div>

                
            </div>
        </div>
    </article>
{% endblock %}