{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock head %}

{% block content %}
    <article class="container">
                <div class="card w-100" style="width: 18rem;">
                    <img src="{{ product.image.url }}" alt="" class="card-img-top">
                    <div class="card-header"><h5 class="card-title">{{ product.name }}</h5></div>
                    <div class="card-body"><p class="card-text">{% lorem %}</p></div>
                    <div class="card-footer">
                        <div class="row">
                            <a href="" class="card-link col-6">Купить</a>
                            <span class="col-6">{{ product.price }} грв</span>
                        </div>
                    </div>
                </div>
    </article>
{% endblock %}